aiohttp==3.7.4.post0
aiomisc==14.4.2
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
colorama==0.4.4
colorlog==6.4.1
idna==3.2
multidict==5.1.0
typing-extensions==3.10.0.2
yarl==1.6.3
idna==3.2

python-dateutil~=2.8.2
psycopg2~=2.9.1
cx_oracle
marshmallow~=3.13.0
aioredis~=2.0.0
requests~=2.26.0